<div class="tgmovies">

  <h2>Discover</h2>

  <ng-container *ngIf="dscvrTitles && dscvrTitles.length">

    <ngx-glide
      #ngxGlide
      [perView]=3
      [gap]=20
      [rewind]="false"
      [showBullets]="false"
      [breakpoints]="{ '768': { perView: 1 }, '1000': { perView: 2 } }" >

      <div
        *ngFor="let mvg of dMvs">

          <div
            class="slidee" >

            <div
              *ngFor="let mv of mvg"
              class="mvs" >

                <div
                  [style.backgroundImage]="'url(https://www.themoviedb.org/t/p/w300_and_h450_bestv2' + mv.poster_path + ')'"
                  class="poster" >
                    <img
                      src="assets/placeholder.png"
                      alt="placeholder" >
                </div>

                <div class="details">
                  <span>
                    {{mv.title | titlecase}}
                  </span>
                </div>
            </div>

          </div>

      </div>

    </ngx-glide>

  </ng-container>

</div>