.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  overflow-x: hidden;

  @media (max-width: 768px) {
    grid-template-columns: 5% 1fr 5%;
  }
}

ngdemo-navbar,
main {
  grid-column: 2/3;
}

section {
  margin-bottom: 2.5rem;
  padding: 1rem 0;
}

.btn {
  padding: .4rem .6rem;
  background-color: $acc;
  color: $white;
  border: none;
  outline: none;

  &:hover {
    filter: brightness(.8);
  }
}