.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 95%;
  }
}

section {
  margin-bottom: 2.5rem;
  padding: 1rem 0;

  h1 {
    margin-bottom: 2rem;
  }
}

.btn {
  display: inline-block;
  padding: .4rem .6rem;
  color: $white;
  background-color: $acc;
  box-shadow: $boxshadow;
  border: none;
  outline: none;
  transition: filter .2s ease-in-out;

  &:hover {
    filter: brightness(.7);
  }

  &-sm {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2ch;
  }
}