.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 95%;
  }
}

section {
  margin-bottom: 2.5rem;
  padding: 1rem 0;

  h1 {
    margin-bottom: 2rem;
  }
}

.btn {
  padding: .4rem .6rem;
  background-color: $acc;
  color: $white;
  border: none;
  outline: none;

  &:hover {
    filter: brightness(.8);
  }
}