.slidee {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  .mvs {
    display: flex;
    flex-direction: column;
    user-select: none;
    color: $white;
    background-color: $gray;
    border-radius: 3px;
    overflow: hidden;

    .poster {
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      img {
        display: inline-block;
        max-width: 100%;
        opacity: 0;
      }
    }

    .details {
      padding: .75rem .5rem;
      display: flex;
      flex-direction: column;

      span {
        display: inline-block;
        height: 4rem;
        font-size: 1.2rem;
        font-weight: 400;
        white-space: normal;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}