
.tgmovies h2 {
  margin: 2.5rem 0 1rem;
}

.slidee {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  .mvs {
    display: flex;
    flex-direction: column;
    user-select: none;
    color: $white;
    background-color: $gray;
    border-radius: 3px;
    overflow: hidden;

    .poster {
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      img {
        display: inline-block;
        max-width: 100%;
        opacity: 0;
      }
    }

    .details {
      padding: .75rem .5rem;
      display: flex;
      flex-direction: column;

      span {
        white-space: normal;
        height: 2.2rem;
        margin: .75rem 0;
        padding: 0 0.75rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-break: break-word;
        line-height: 1.1rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  button, button:active {
    padding: .5rem;
    color: $white;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: $boxshadow;
    border-radius: 2px;
    outline: none;
    border: 1px solid $gray;
    cursor: pointer;

    &:hover svg path {
      fill: $acc;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      pointer-events: none;

      path {
        fill: $white;
      }
    }
  }

  &.custom-arrow-left {
    left: 2%;
  }

  &.custom-arrow-right {
    right: 2%;
  }
}