$acc: #701956;
$white: #f6f7f9;
$black: #282829;
$gray: #323233;
$light-gray: #d1d1d2;

$shadow-acc: 1px 1px 8px rgba(0, 0, 0, 0.78), 1px 1px 12px rgba(0, 0, 0, 0.58);

$boxshadow: 2px 1px 4px rgba(0, 0, 0, 0.2);