
<section>

  <h1>TG Movies Demo Glide</h1>

  <div class="tgmovies">

    <ng-container *ngIf="displayTitles && displayTitles.length">

      <ngx-glide
        #ngxGlide
        [perView]=6
        [gap]=20
        [rewind]="false"
        [showBullets]="false"
        [breakpoints]="{ '400': { perView: 1 }, '680': { perView: 2 }, '900': { perView: 3 }, '1180': { perView: 4 }, '134': { perView: 5 } }" >

        <div
          *ngFor="let mvg of gMvs">

            <div
              class="slidee" >

              <div
                *ngFor="let mv of mvg"
                class="mvs" >

                  <div
                    [style.backgroundImage]="'url(https://www.themoviedb.org/t/p/w300_and_h450_bestv2' + mv.poster_path + ')'"
                    class="poster" >
                      <img
                        src="assets/placeholder.png"
                        alt="placeholder" >
                  </div>

                  <div class="details">
                    <span>
                      {{mv.title | titlecase}}
                    </span>
                  </div>
              </div>

            </div>

        </div>

      </ngx-glide>

    </ng-container>

  </div>
</section>
