
<section>

  <ng-container *ngIf="movie && movie.title">

    <div class="more">

      <div class="top">
        <img
          [src]="'https://image.tmdb.org/t/p/w1920_and_h800_multi_faces' + movie.backdrop_path"
          alt="backdrop"
          class="backdrop" >
      </div>

      <div class="det">

        <div class="head">
          <h1>
            {{movie.title}}
            <span class="lang">{{movie.original_language}}</span>
            <span class="year">{{movie.release_date}}</span>
          </h1>
          <h3 *ngIf="movie.title !== movie.original_title">
            {{movie.original_title}}
          </h3>
        </div>

        <div class="meter">
          <div class="stars">
            <ngx-stars
              [readonly]="true"
              [size]=2
              [initialStars]="starz"
              [color]="'#701956'" >
            </ngx-stars>
          </div>

        </div>

        <div class="desc">
          {{movie.overview}}
        </div>

        <div class="tr">

          <article
            *ngFor="let tr of trailers"
            class="trailer">
              <h3>{{tr.name}}</h3>
              <div class="frame">
                <iframe
                  loading="lazy"
                  [src]="'https://www.youtube-nocookie.com/embed/' + tr.key | ytPipe"
                  frameborder="0">
                </iframe>
              </div>
          </article>

        </div>

      </div>

    </div>

  </ng-container>
</section>